# Node modules

node_modules/

# Logs
*.log
logs/
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE settings
.vscode/

# Build output
dist/
build/

# Temp files
*.tmp
*.swp

# Lock files

package-lock.json
